<html>
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <style>
            .show{
              background-color: rgb(237, 237, 236);
              margin-left: 10%;
              margin-top:20px;
              margin-right: 10%;
              padding:30px;
            }
            .title{
              text-align: center;
            }
            body{

              font-family: 'Roboto', sans-serif;
              /* font-family: 'Roboto Flex', sans-serif; */
            }
        </style>
    </head>
    <body>
         <!-- <p><%= alldata.content %></p>  -->
        <div class="title"><h1> <%= alldata.topic%></h1></div>
        <% alldata.content.forEach(dataa => {  %>
         <div class="show">
          <%if (dataa.data != '') {%>
            <a href="<%=dataa.url %>"><%=dataa.url %></a>
            <p ><%=dataa.date %></p>

            <p><%=dataa.data%></p>
          <%}%>
          <%if(dataa.data == ''){%>
            <img src = "<%=dataa.url%>" width="400px" alt="No image to display" style="display: block; margin-right: auto; margin-left: auto;">

          <%}%>
         </div>

         <% })%>
    </body>
</html>